/* styles/login.css */
body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #000;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #363636;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding-right: 30px;
}
a{
    text-decoration: none;
    color: brown;

}
a:hover{
    font-size: 18px;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

h2 {
    margin-top: 0;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #ff9966;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #ff5e62;
}

.signup-link {
    margin-top: 20px;
}